
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
#main{
    border: 2px solid lightsalmon;
}
#question{
    border: 2px solid greenyellow;
    border-radius: 15px;
    width: 500px;
    padding: 15px;
    box-shadow: 5px 5px 20px yellow;
    color: white;
}
#explain{
    color: yellowgreen;
}
#stats button:hover{
    transform: scale(1.05);
    background-color: white;
}
#Qno button{
    margin-top: 15px;
    /* padding: 10px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: black;
    border-color: yellow;
    color: white;

}

#answer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.btn{
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 15px;
}
.btn:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.container{
margin-top: 60px;
}
#ques{
    margin: 10px;
    padding: 20px;
}
.hide{
    display: none;
}
#stats button{
    width: 200px;
    padding: 10px;
    color: black;
    background-color: greenyellow;
    font-size: 18px;
    margin: 10px;
    border-radius: 10px;
}
#detail{
    display: flex;
    justify-content:space-between;
}
