
body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(to right, lightseagreen, #f011ad, #ff8080);
}
#main{
    border: 2px solid lightsalmon;
}
#question{
    border: 2px solid lightseagreen;
    /* border-radius: 15px; */
    width: 500px;
    padding: 15px;
    box-shadow: 5px 5px 20px lightseagreen;
    color: white;
    background-color:rgba(0,0,0,0.5);
}
#explain{
    color: white;
}
#stats button:hover{
    transform: scale(1.05);
    background-color: white;
    color: lightseagreen;
    border: 2px solid lightseagreen;
}
#Qno button{
    margin-top: 15px;
    /* padding: 10px; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-color: transparent;
    border-color: white;
    color: white;

}

#answer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.btn{
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border-image: linear-gradient(to right, lightseagreen, #f011ad, #ff8080)1;
    border-width: 2px;
}
.btn:hover{
    background-image: linear-gradient(to right, lightseagreen, #f011ad, #ff8080);
}

.container{
    margin-top: 60px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* #prev{
    padding: 25px;
    border-radius: 50%;
    background-color: lightseagreen;
    border: 1px solid white;
    margin: 20px;
    font-size: 30px;
    color: white;
    width: 70px;
    height: 70px;
} */

#ques{
    margin: 10px;
    padding: 20px;
}
.hide{
    display: none;
}
#stats button{
    width: 200px;
    padding: 10px;
    color:white;
    border: 2px solid white;
    background-color: lightseagreen;
    font-size: 18px;
    margin: 10px;
    /* border-radius: 10px; */
}
#detail{
    display: flex;
    justify-content:space-between;
}
